<h3>Calculator</h3>
<div style="display: table-row;">
<div style="width:40%; display: table-cell;">
    <slider-number #rentSlider [labelText]="rentString" [value]="rent" [maxValue]="maxRent" (sliderChanged)="updateRent($event)"></slider-number>
    <slider-number #yearsToMoveSlider [labelText]="yearsToMoveString" [value]="yearsToMove" [maxValue]="maxYearsToMove" (sliderChanged)="updateYearsToMove($event)"></slider-number>
    <slider-number #rentIncreaseSlider [labelText]="rentIncreaseString" [value]="rentIncrease" [maxValue]="maxRentIncrease" (sliderChanged)="updateRentIncrease($event)"></slider-number>
    <slider-number #cashReturnSlider [labelText]="cashReturnString" [value]="cashReturn" [maxValue]="maxCashReturn" (sliderChanged)="updateCashReturn($event)"></slider-number>
    <slider-number #housingReturnSlider [labelText]="housingReturnString" [value]="housingReturn" [maxValue]="maxHousingReturn" (sliderChanged)="updateHousingReturn($event)"></slider-number>
    <slider-number #principleSlider [labelText]="principalString" [value]="principal" [maxValue]="maxPrincipal" (sliderChanged)="updatePrincipal($event)"></slider-number>
    <slider-number #availFundsSlider [labelText]="availFundsString" [value]="availFunds" [maxValue]="maxAvailFunds" (sliderChanged)="updateAvailFunds($event)"></slider-number>
    <slider-number #closingCostSlider [labelText]="closingCostsString" [value]="closingCosts" [maxValue]="maxClosingCosts" (sliderChanged)="updateClosingCosts($event)"></slider-number>
    <slider-number #houseValueSlider [labelText]="houseValueString" [value]="houseValue" [maxValue]="maxHouseValue" (sliderChanged)="updateHouseValue($event)"></slider-number>
    <slider-number #monthlyPSlider [labelText]="monthlyPaymentString" [value]="monthlyPayment" [maxValue]="maxMonthlyPayment" (sliderChanged)="updateMonthlyPayment($event)"></slider-number>
    <slider-number #periodSlider [labelText]="mortgagePeriodString" [value]="periodInMonths/12" [maxValue]="maxPeriod" (sliderChanged)="updatePeriod($event)"></slider-number>
    <slider-number #interestSlider [labelText]="interestString" [value]="monthlyInterest*1200" [maxValue]="maxInterest" (sliderChanged)="updateInterest($event)"></slider-number>
    
    <!--need property tax-->
    <!--need marginal tax rate-->
    <!--need various insurance for ownership-->
    <!--need home improvements/maintenance-->
    <!--HOA-->
    <!--PMI-->
    
    <!--determine loan size + interest rate-->
      <!--need credit score-->
      <!--need annual income-->
      <!--need monthly debt-->
</div><div style="width:55%;border-style: solid; display: table-cell;">
  <chart [options]="options"></chart>
</div>
</div>
    <h3>hard coded values</h3>
    <div>propertyTaxPercent: {{propertyTaxPercent}}</div>
    <div>marginalTaxPercent: {{marginalTaxPercent}}</div>
    <div>buyInsurance: {{buyInsurance}}</div>
    <div>buyMaintenancePercent: {{buyMaintenancePercent}}</div>
    <div>HOA: {{HOA}}</div>
    
    <h3>DEBUGGING</h3>
    <div>rentArray: {{rentArray}}</div>
    <div>buyArray: {{buyArray}}</div>
    <div>difference: {{difference}}</div>
    