<h1>My First 2 App</h1>
<slider-number #rentSlider [labelText]="rentString" [value]="rent" (sliderChanged)="updateRent($event)"></slider-number>
<slider-number #principleSlider [labelText]="principalString" [value]="principal" (sliderChanged)="updatePrincipal($event)"></slider-number>
<slider-number #monthlyPSlider [labelText]="monthlyPaymentString" [value]="monthlyPayment" (sliderChanged)="updateMonthlyPayment($event)"></slider-number>
<slider-number #monthlyPSlider [labelText]="mortgagePeriodString" [value]="period" (sliderChanged)="updatePeriod($event)"></slider-number>
<div>rent {{rent}}</div>
<div>principal {{principal}}</div>
<div>monthlyPayment {{monthlyPayment}}</div>
<div>period {{period}}</div>
