<h1>My First 2 App</h1>
<div>
    <slider-number #rentSlider [labelText]="rentString" [value]="rent" [maxValue]="maxRent" (sliderChanged)="updateRent($event)"></slider-number>
    <slider-number #rentIncreaseSlider [labelText]="rentIncreaseString" [value]="rentIncrease" [maxValue]="maxRentIncrease" (sliderChanged)="updateRentIncrease($event)"></slider-number>
    <slider-number #cashReturnSlider [labelText]="cashReturnString" [value]="cashReturn" [maxValue]="maxCashReturn" (sliderChanged)="updateCashReturn($event)"></slider-number>
    <slider-number #housingReturnSlider [labelText]="housingReturnString" [value]="housingReturn" [maxValue]="maxHousingReturn" (sliderChanged)="updateHousingReturn($event)"></slider-number>
    <slider-number #principleSlider [labelText]="principalString" [value]="principal" [maxValue]="maxPrincipal" (sliderChanged)="updatePrincipal($event)"></slider-number>
    <slider-number #availFundsSlider [labelText]="availFundsString" [value]="availFunds" [maxValue]="maxAvailFunds" (sliderChanged)="updateAvailFunds($event)"></slider-number>
    <slider-number #houseValueSlider [labelText]="houseValueString" [value]="houseValue" [maxValue]="maxhouseValue" (sliderChanged)="updateHouseValue($event)"></slider-number>
    <slider-number #monthlyPSlider [labelText]="monthlyPaymentString" [value]="monthlyPayment" [maxValue]="maxMonthlyPayment" (sliderChanged)="updateMonthlyPayment($event)"></slider-number>
    <slider-number #periodSlider [labelText]="mortgagePeriodString" [value]="periodInMonths/12" [maxValue]="maxPeriod" (sliderChanged)="updatePeriod($event)"></slider-number>
    <slider-number #interestSlider [labelText]="interestString" [value]="monthlyInterest*1200" [maxValue]="maxInterest" (sliderChanged)="updateInterest($event)"></slider-number>
    <!--need credit score-->
    <!--need annual income-->
    <!--need monthly debt-->
    <!--need closing costs-->
</div>